<%- include("header") -%>
    <h2>This is about page</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum corporis sed dicta nesciunt aliquam cum animi
        dolor
        odit cupiditate, fuga quo officiis dolorem nam provident! Voluptas assumenda facilis animi repellendus. Lorem
        ipsum
        dolor sit amet, consectetur adipisicing elit. Molestias exercitationem similique ipsam minus ipsum magnam nulla
        quo,
        unde itaque repudiandae tempora tenetur placeat modi dolore ut illo rerum culpa? Laborum. Lorem ipsum dolor sit
        amet
        consectetur, adipisicing elit. Voluptates, nulla adipisci? Cumque, sed mollitia consequatur corporis nihil
        ducimus
        molestiae velit error maxime facere exercitationem harum hic asperiores nam non neque. Lorem ipsum dolor sit
        amet
        consectetur adipisicing elit. Atque, placeat. Optio, commodi fugiat. Dicta ratione pariatur blanditiis suscipit
        repellat. Sit aspernatur magni maiores error eum iure officia voluptatibus fuga laudantium! Lorem ipsum dolor
        sit
        amet consectetur adipisicing elit. Officia laborum ullam magni quae. Velit ipsam dolor tenetur perferendis
        nostrum,
        nihil vitae nulla adipisci voluptas, laudantium expedita laboriosam natus maiores enim?</p>
    <%- include("footer") -%>